name: Run Unit Tests

on: [pull_request, push]

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.10.6
    - name: Run unit tests
      run: python -m unittest tree.py -v
    - name: Notify about failure
      if: ${{ failure() }}
      run: |
        curl -X POST ${{ secrets.DISCORD_WEBHOOK }} --header 'Content-Type: application/json' -d "Picat unit test"



